*,*::after,*::before{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
  align-items: center;
}


.container {
  min-height: 100vh;
    height: auto;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
  }



/* --about-- */

.about{
  padding-left: 20vh;
  background-color: rgb(49, 93, 116);
  
}
.about-heading{
  display: flex;
  flex-direction: column;
  color: rgb(204, 200, 200);
  
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  letter-spacing: .3rem;
  font-size: 3.5rem;
}
.about-aim{
  padding: 2rem 0;
  max-width: 62%;
  font-size: 1.4rem;
  font-family: 'Source Sans Pro', sans-serif;

}
.about-button{
  max-width: 20vh;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: rgb(46, 99, 179);
  padding: .6rem 3rem;
  border-radius: 2rem;
}




/* .end about-- */
.features{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  background-color:rgb(204, 200, 200);
  padding: 5rem  2rem;
}
.features-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem ;
  height: 300px;
  aspect-ratio: 1;
  
}
.features-box-heading{
  padding-top: 2rem;
  padding-bottom: 1rem;
  
  color: rgb(49, 93, 116);
  font-size: 1.6rem;
}