*,*::after,*::before{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
  align-items: center;
}


.container {
  min-height: 100vh;
    height: auto;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
  }



/* --about-- */

.about{
  padding-left: 20vh;
  background-color: rgb(49, 93, 116);
  
}
.about-heading{
  display: flex;
  flex-direction: column;
  color: rgb(204, 200, 200);
  
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  letter-spacing: .3rem;
  font-size: 3.5rem;
}
.about-aim{
  padding: 2rem 0;
  max-width: 62%;
  font-size: 1.4rem;
  font-family: 'Source Sans Pro', sans-serif;

}
.about-button{
  max-width: 20vh;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: rgb(46, 99, 179);
  padding: .6rem 3rem;
  border-radius: 2rem;
}





/* .end about-- */
.features{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  background-color:rgb(204, 200, 200);
  padding: 5rem  2rem;
}
.features-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem ;
  height: 300px;
  aspect-ratio: 1;
  
}
.features-box-heading{
  padding-top: 2rem;
  padding-bottom: 1rem;
  
  color: rgb(49, 93, 116);
  font-size: 1.6rem;
}

.map-image{
  display: flex;
  min-height: 50vh;
  background-color: rgb(49, 93, 116);;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  padding-bottom: 5rem;
}
.map-image img{
  height: 40vh;
}
.xxx{
 display: flex;
}

.trust{
  background-color: rgb(49, 93, 116);
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trust-h1{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 400;
  color: rgb(204, 200, 200);
  padding-top:  4rem;
  padding-bottom:  3rem;
}
.trust-brands{
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.b-img{
  width: 100%;
  height: auto;
}
.trust-icon{
  padding: 4rem;
  height: 80px;
  width: 150px;
}


.containe {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* navigation */

#nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
  float: top;
  /* position: absolute; */
  top:0;
	z-index: 100;
	/* background-color: black; */
  background-color: rgb(49, 93, 116);
}
.nav-bar {
  width: 100%;
	/* background-color: black; */
  background-color: rgb(49, 93, 116);
	left: 0;
	top: 0;
	padding: 1rem 5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-bar .brand a {
	font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
	font-size: 2rem;
	color: rgb(204, 200, 200);
}
.nav-bar .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar .nav-list .hamburger {
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 70px;
	transition: .3s ease transform;
	cursor: pointer;
}
.nav-bar .nav-list .hamburger.active {
	transform: rotate(360deg);
}
.nav-bar .nav-list .hamburger.active .bar:before {
	top: 0;
	transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger.active .bar:after {
	top: 0;
	transform: rotate(-45deg);
}
.nav-bar .nav-list .hamburger.active .bar {
	background-color: transparent;
}
.nav-bar .nav-list .hamburger .bar {
	height: 2px;
	width: 30px;
	background-color: white;
	position: relative;
	display: flex;
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	transition: .3s ease all;
}
.nav-bar .nav-list .hamburger .bar::before {
	top: 8px;
}
.nav-bar .nav-list .hamburger .bar::after {
	bottom: 8px;
}
.nav-bar .nav-list ul {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(46, 45, 45);
	padding: 5rem 0;
	transform: translateY(-100%);
	transition: .3s ease transform;
	text-align: center;
	z-index: -1;
}
.nav-bar .nav-list ul li {
	list-style: none;
	display: block;
	position: relative;
}
.nav-bar .nav-list ul li:hover:after {
	transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after {
	content: '';
	position: absolute;
	width: 5rem;
	height: .2rem;
	background-color: white;
	left: 50%;
	transform: translateX(-50%) scale(0);
	bottom: 0;
	transition: .3s ease transform;
}
.nav-bar .nav-list ul li a {
	font-size: 1.8rem;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	display: block;
	letter-spacing: .15rem;
	padding: 2rem 3rem;
}
.nav-bar .nav-list.open ul {
	transform: translateY(90px);
}
/* End Nav Bar */


@media only screen and (min-width: 768px) {
	.nav-bar .nav-list .hamburger {
		display: none;
	}
	.nav-bar {
		width: 80%;
	}
	.nav-bar .nav-list ul {
		transform: translateX(0);
		position: initial;
		padding: 0;
		z-index: initial;
		background-color: transparent;
	}
	.nav-bar .nav-list ul li {
		display: inline-block;
	}}